---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Objective from "../components/Objective.astro";
---

<Layout title="Redmai - Especialistas en crear contenido">
	<main>
		<Hero />
		<Services />
		<Objective />
	</main>
</Layout>
