<section class="py-24 objective" id="about">
    <div class="max-w-6xl mx-auto px-4 md:px-6">
        <h3 class="text-xl font-bold">En Redmai</h3>
        <div class="max-w-2xl">
            <p class="mt-4 text-balance">
                Creemos que la calidad es la base de toda innovación. Nuestro
                compromiso inquebrantable con la excelencia se fusiona de manera
                perfecta con nuestra pasión por la evolución.
            </p>
            <p class="mt-4 text-balance">
                Nos enorgullece presentar un servicio que no solo se destaca por
                su calidad, sino que también por que redefine las expectativas
                en la industria.
            </p>
        </div>
    </div>
</section>
