<section class="py-32 hero relative">
    <div class="max-w-6xl relative px-4 md:px-6 mx-auto">
        <article class="text-white">
            <h1 class="uppercase text-4xl font-bold">
                La mejor manera <br />
                de predecir el futuro <br />
                <span class="text-red-600">es crearlo</span>
            </h1>

            <div class="max-w-md mt-12 text-xl">
                <h2 class="text-balance">
                    REDMAI es un estudio, en donde nos especializamos en ser
                    creadores de contenido.
                </h2>
                <p class="text-balance mt-4">
                    Contamos con las herramientas necesarias para satisfacer las
                    necesidades del mercado, ofreciendo la mejor calidad en el
                    servicio.
                </p>
                <p class="text-balance mt-4">
                    Más de 15 años en la industria avalan nuestro trabajo.
                </p>
            </div>
        </article>
    </div>
</section>

<style>
    .hero::before {
        content: "";
        display: block;
        background-image: url("/images/divider.png");
        background-size: 120% 100%;
        transform: scaleX(-1) rotate(180deg);
        height: 6rem;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation: animateBackground 15s linear infinite;
    }
    .hero::after {
        content: "";
        display: block;
        background-image: url("/images/divider.png");
        background-size: 110% 100%;
        height: 6rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        animation: animateBackground 30s linear infinite;
    }
    .hero {
        background-image: linear-gradient(
                to left,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
            ),
            url("images/hero.jpg"),
            linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    @keyframes animateBackground {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: -100px 0%;
        }
        100% {
            background-position: 0% 0%;
        }
    }
</style>
