<section class="bg-[url('/images/hero.jpg')] py-24">
    <div class="max-w-6xl relative px-4 md:px-6 mx-auto">
        <article class="text-white">
            <h1 class="uppercase text-4xl font-bold">
                La mejor manera <br />
                de predecir el futuro <br />
                <span class="text-red-600">es crearlo</span>
            </h1>

            <div class="max-w-md mt-12 text-xl">
                <h2 class="text-balance">
                    REDMAI es un estudio, en donde nos especializamos en ser
                    creadores de contenido.
                </h2>
                <p class="text-balance mt-4">
                    Contamos con las herramientas necesarias para satisfacer las
                    necesidades del mercado, ofreciendo la mejor calidad en el
                    servicio.
                </p>
                <p class="text-balance mt-4">
                    Más de 15 años en la industria avalan nuestro trabajo.
                </p>
            </div>
        </article>
    </div>
</section>
